tmp
**/old
**/bin

# Java / Scala
**/*.class
.ensime
.ensime_cache/
.classpath

**/*.cache-main  # Eclipse
**/.metadata     # Eclipse
**/target        # sbt
target
*.swp            # vim
*~               # emacs
.idea            # IntelliJ
